<html>
    

  <body>
      <label>Image File:</label><br/>
      <input type="file" id="imageLoader" name="imageLoader"/>
      <canvas id="imageCanvas"></canvas>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.7"> </script>

    <!-- Place your code in the script tag below. You can also use an external .js file -->
  <script>

    var imageLoader = document.getElementById('imageLoader');
    imageLoader.addEventListener('change', handleImage, false);
    var canvas = document.getElementById('imageCanvas');
    var ctx = canvas.getContext('2d');
  
  
    function handleImage(e){
      var reader = new FileReader();
      reader.onload = function(event){
          var img = new Image();
          img.onload = function(){
              canvas.width = img.width;
              canvas.height = img.height;
              ctx.drawImage(img,0,0);
          }
          img.src = event.target.result;
      }
      reader.readAsDataURL(e.target.files[0]);     
  }
    const model = tf.loadModel("http://localhost:8080{{url_for('static', filename='autoencoder/model.json')}}");
    console.log("http://localhost:8080{{url_for('static', filename='autoencoder/model.json')}}")
    console.log(ctx.getImageData(0, 0, 256, 256));
    model.then(
      function(result){
        model.predict(tf.fromPixels())
      }
    )
  
  
  </script>
  
    
  </html>
  
  